
.checkbox label .toggle,
.checkbox-inline .toggle {
    margin-left: -20px;
    margin-right: 5px;
}

.toggle {
    position: relative;
    overflow: hidden;
}

.toggle input[type=checkbox] {
    display: none;
}

.toggle-group {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left .35s;
    -webkit-transition: left .35s;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.toggle.off .toggle-group {
    left: -100%;
}

.toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 0;
    border-width: 0 1px;
}

.toggle.btn {
    min-width: 59px;
    min-height: 34px;
}

.toggle-on.btn {
    padding-right: 24px;
}

.toggle-off.btn {
    padding-left: 24px;
}

.toggle.btn-lg,
.btn-group-lg > .toggle.btn {
    min-width: 79px;
    min-height: 45px;
}

.toggle-on.btn-lg,
.btn-group-lg > .toggle-on.btn {
    padding-right: 31px;
}

.toggle-off.btn-lg,
.btn-group-lg > .toggle-off.btn {
    padding-left: 31px;
}

.toggle-handle.btn-lg,
.btn-group-lg > .toggle-handle.btn {
    width: 40px;
}

.toggle.btn-sm,
.btn-group-sm > .toggle.btn {
    min-width: 50px;
    min-height: 30px;
}

.toggle-on.btn-sm,
.btn-group-sm > .toggle-on.btn {
    padding-right: 20px;
}

.toggle-off.btn-sm,
.btn-group-sm > .toggle-off.btn {
    padding-left: 20px;
}

.toggle.btn-xs {
    min-width: 35px;
    min-height: 22px;
}

.toggle-on.btn-xs {
    padding-right: 12px;
}

.toggle-off.btn-xs {
    padding-left: 12px;
}

.toggle-off {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.toggle.off {
    border-color: rgba(0, 0, 0, 0.25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, 0.25) solid;
}

/*Tooltip*/
.tooltip-button {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-shadow: 0 1px rgba( 0, 0, 0, .25 );
    color: #fff;
    background: #351552;
    background: linear-gradient(317deg, #351552 19%, #6c38a0 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#351552",endColorstr="#6c38a0",GradientType=1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    cursor: help;
    display: inline-block;
    outline: 0px;
}
.tooltip-inner {
    background-color: rgba( 0, 0, 0, .8 );
}
.tooltip.top .tooltip-arrow {
    border-top-color: rgba( 0, 0, 0, .8 );
}

/* preloader */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(63, 63, 63, 0.9);
    vertical-align: center;
    text-align: center;
    padding-top: 20%;
}
#preloader .preloader-spinner {
    color: #351552;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
#preloader .preloader-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
#preloader .preloader-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
}
#preloader .preloader-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
#preloader .preloader-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
#preloader .preloader-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
#preloader .preloader-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
#preloader .preloader-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
#preloader .preloader-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
#preloader .preloader-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
#preloader .preloader-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
#preloader .preloader-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
#preloader .preloader-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
#preloader .preloader-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
#preloader .preloader-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

